.positions {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.gallery {
  @media screen and(min-width:768px) {
    display: flex;
    margin: -10px;
  }
}
.list-item {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and(min-width:768px) {
    width: calc((100% - 3 * 20px) / 3);
  }
  img {
    width: 100%;
  }
  .item-headling {
    font-size: 20px;
    color: #8e0000;
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .item-text {
    margin-bottom: 10px;
  }
  .to-order {
    border: none;
    background-color: transparent;
    font-size: 17px;
    font-weight: 700;
    color: #444444;
  }
  .active-btn {
    color: #06811a;
  }
}
.special-item-image {
  display: block;
  width: 100%;
  @media screen and(min-width:768px) {
    width: 50%;
    margin: 0 auto;
  }
}
