a,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}
body {
  font-family: $main-font;
}
.container {
  padding: 10px;
  @media screen and(min-width:768px) {
    padding: 10px 15px;
  }
  @media screen and(min-width:1200px) {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
