header {
  background-color: #0072bc;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and(min-width:768px) {
    flex-direction: row;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    width: 1200;
    padding-left: 15px;
    padding-right: 15px;
  }
  .logo {
    text-decoration: none;
    @media screen and(min-width:768px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .logo-link {
    @extend %font-face;
    color: $secondary-text-color;
    font-size: 26px;
    @media screen and(min-width:768px) {
      margin-left: 20px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 32px;
    }
  }
  .order {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    color: $secondary-text-color;
    background-color: #f26522;
    border: none;
    @media screen and (min-width: 1200px) {
      font-size: 26px;
      padding: 20px 40px;
    }
  }
}
