.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #0072bc;

  @media screen and(min-width:768px) {
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    text-decoration: none;
    @media screen and(min-width:768px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .logo-link {
    @extend %font-face;
    color: $secondary-text-color;
    font-size: 26px;
    @media screen and(min-width:768px) {
      margin-left: 20px;
    }
  }
  .order {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    color: $secondary-text-color;
    background-color: #f26522;
    border: none;
  }
}
