.container.food-items {
  padding-top: 25px;
  padding-bottom: 45px;
}
.positions {
  margin-bottom: 10px;

  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  @media screen and(min-width:1200px) {
    font-size: 30px;
    text-align: start;
    margin-bottom: 50px;
  }
}
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and(min-width:768px) {
    flex-direction: row;
    margin: -10px;
  }
}
.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

  max-width: 480px;
  border: 2px solid #acacac;
  border-radius: 10px;
  padding: 10px;
  @media screen and(min-width:768px) {
    width: calc((100% - 3 * 20px) / 3);
    padding: 30px 10px;
  }
  img {
    width: 100%;
  }
  .item-headling {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.1;

    color: $secondry-accent-color;
    @extend %font-face;
    font-size: 20px;
    text-align: center;
    @media screen and(min-width:1200px) {
      font-size: 22px;
    }
  }
  .item-text {
    margin-bottom: 10px;
    line-height: 1.5;
    @media screen and(min-width:1200px) {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }
  .to-order {
    @extend %font-face;
    border: none;
    background-color: transparent;
    font-size: 17px;
    color: #444444;
    line-height: 1.4;
  }
  .active-btn {
    color: #06811a;
  }
}
.special-item-image {
  display: block;
  width: 100%;
  @media screen and(min-width:768px) {
    width: 50%;
    margin: 0 auto;
  }
  @media screen and(min-width:1200px) {
    width: 100%;
    margin-left: 15px;
  }
}
.food-container {
  @media screen and(min-width:1200px) {
    display: flex;
  }
}
